{% extends 'base.html' %}

{% block content %}
<h1>Task detail</h1>
<h2>{{task.title}}</h2>
{{error}}
<form method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit">Update</button>
</form>

<form action="{% url 'complete_task' task.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">
        Complete
    </button>
</form>

<form action="{% url 'delete_task' task.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">
        Delete
    </button>
</form>
{% endblock %}